$mobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 1024px;
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {
  @content;
}
}
@mixin tablet { @media (max-width: #{$tablet-width})  {
  @content;
}
}
@mixin laptop { @media (max-width: #{$laptop-width - 1px}) {
  @content;
}
}