$c-main: #db7227;
$c-lightDark: #2c2825;
$c-black: #000000;
$c-light: #ffffff;
$c-gray: #c0c0c0;
$c-darkgray: #626262;
$c-grey:#958f91;
$c-lightgray :#f8f8f8;
/* Mixin */
/* Set các giá trị với màn hình tương ứng */
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

}
a{
  color: inherit;
}
a:hover {
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.c-light {
  color: $c-light !important;
}

.c-dark {
  color: $c-black !important;
}

.c-main {
  color: $c-main !important;
}
.c-grey{
  color: $c-grey;
}
.b-lightgray{
  background: $c-lightgray;
}
.flex--center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.view-more {
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
  color: $c-main;
  i {
    transition: .2s;
    display: inline-block;

  }

  &:hover i {
    margin-left: 5px;
  }
  &--normal{
    color: $c-black;
    &:hover{
      color: $c-main;
    }
  }
  &--article{
    font-size: 13px;
    color: $c-main;
    padding-right: 15px;
    background: url("../img/icon/arrow-1.png") right 3px/8px 8px no-repeat;
    transition: .2s;
    &:hover{
      color: $c-main;
      padding-right: 20px;
    }
  }
}

.section {
  margin-bottom: 75px;
}

.title {
  padding-bottom: 25px;
  font-size: 25px;
  font-weight: 700;
  &--mark{
    background: url("../img/icon/title-mark.png") right 10px/43px 30px no-repeat;
  }
}
.text--line{
  color: $c-main;
  padding-right: 40px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 15px;
  &:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: $c-main;
    right: 0;
    top: 10px;
  }
}
.text--main{
  color: $c-main;
  font-size: 14px;
  font-weight:600;
}
.text--2-line{
  padding:0 50px;
  position: relative;
  background: $c-light;
  color: $c-main;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  &::before{
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
    background:$c-main;
  }
  &::after{
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    right: 0;
    top: calc(50% - 1px);
    background:$c-main;
  }
}
.text--inverse-line{
  padding-left: 40px;
  position: relative;
  display: inline-block;
  font-size: 12px;
  &:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: $c-darkgray;
    left: 0;    top: 8px;
  }
}
.btn--send{
  margin-top: 35px;
  width: 165px;
  height: 45px;
  line-height: 45px;
  background: $c-main;
  color: $c-light;
  border: none;
}
.icon-facebook{
  width: 36px;
  height: 36px;
  background: url("../img/logo/facebook.png") center/contain;
}
.icon-youtube{
  width: 36px;
  height: 36px;
  background: url("../img/logo/youtube.png") center/contain;
}
.btn--to-top{
  width: 50px;
  height: 50px;
  position: fixed;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  right: 10%;
  bottom: 100px;
  @include tablet{
    bottom: 30px;
    width: 40px;
    height: 40px;
    right: 15px;
    background: #363636 url("../img/icon/icon-arrow-to-top.png") center/13px no-repeat ;
  }
  opacity: 0;
  z-index: 11;
  background: #363636 url("../img/icon/icon-arrow-to-top.png") center/17px no-repeat ;
}
.icon-share-fb{
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("../img/social/facebook.png") center/30px no-repeat;
}
.icon-share-linkedin{
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("../img/social/linkedin.png") center/30px no-repeat;
}
.icon-share-twitter{
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("../img/social/twitter.png") center/30px no-repeat;
}
.icon-share-instagram{
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url("../img/social/instagram.png") center/30px no-repeat;
}
.container{
  max-width: 840px;
}