* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
html,body {margin: 0;padding: 0;font-family: 'Open Sans', sans-serif;background: #fff; }
#stage {margin: 0 auto; position: relative; overflow: hidden; width:320px; height:50px; background: url(../images/bgd.jpg); -webkit-animation: width 0.5s ease 0s forwards; animation: width 0.5s ease 0s forwards;}

.keyframe {-webkit-backface-visibility: hidden;backface-visibility: hidden;position: absolute;left: 0;top: 0; width:160px; height:600px;}
.key1 { 
    width: 123px; height: 50px;
    background: url('../images/step-1.png') no-repeat 0 0 scroll transparent;
    position:  absolute; top: 0; left: 76px; z-index: 4 ;
    opacity: 0;
}
.key2 {     
    background: url('../images/step-2.png') no-repeat 0 0 scroll transparent;
    background-size: cover;
    width: 121px; height: 50px; position: absolute; top: 0; left: 200px;
    z-index: 5;
    opacity: 0;
}

.animate .key1 {
    -webkit-animation: fadeIn 1s ease 0.5s forwards;
    animation: fadeIn 1s ease 0.5s forwards;
}
.animate .key2 {
    -webkit-animation: fadeIn 0.75s linear 1.5s forwards;
    animation: fadeIn 0.75s linear 1.5s forwards;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0; -webkit-transform: translate3d(0, 10px, 0);}   
    100% {opacity: 1; -webkit-transform: translate3d(0, 0, 0);}
}
@keyframes fadeIn {
    0% {opacity: 0; transform: translate3d(0, 10px, 0);}   
    100% {opacity: 1; transform: translate3d(0, 0, 0);}
}


