.breadcrumb{
  margin-bottom: 0;
  color: #8b8b8b;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem 0;
  @include tablet{
    padding: .8rem 0;
    a{
      font-size: 12px !important;
    }
  }
  a{
    font-weight: 700;
    color: #8b8b8b;
  }
  h1{
    font-weight: 700;
    line-height: 1;
    font-size: 20px;
    margin: 0;
    text-transform: inherit;
    color: #8b8b8b;
  }
  .breadcrumb-item-main{
    margin-left: auto;
    @include tablet{
      display: none!important;
    }
  }
  .breadcrumb-item+.breadcrumb-item::before {
    content: "\f105";
    font-family: 'Line Awesome Free';
    font-weight: 900;
  }
}
.breadcrumb-container{
  background-color: #e9ecef;
}
.page-link{
  margin: 0 4px;

  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
  font-weight: 700;
  background: #363636;
  color: $c-light;
  @include mobile{
    margin: 0;
    padding: .4rem .65rem;
  }
  &:focus,&:active{
    outline: none;
    box-shadow: none;
  }
}
.page-item.active .page-link{
  background: $c-main;
  border: 1px solid $c-main;
}