.slick-slide {
  padding:0 20px;
  outline: none;
  img{
    max-width: 100%;
    margin: auto;
  }
  .company__logo {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }

  p {
    font-size: 15px;
    color: $c-darkgray;
    font-weight: 700;
    margin-bottom: 0;
  }

  a {
    color: $c-black;
    font-size: 13px;
    &:focus{
      outline: none;
    }
  }
}

.slick-dots {
  bottom: 0;
  li{
    display: inline-block;
    height: 3px;
    background: $c-gray;
    width: 50px;
    padding: 0;
    @include mobile{
      width: 30px;
      height: 2px;
    }
    button{
      text-indent: -9999px;
    }
    &.slick-active{
      background: $c-main!important;
    }
  }
}
.slick-comment{
  .slick-slide{
    padding: 0;
    outline: none;
    p{
      font-weight: 400;
    }
  }
  .slick-dots{
    text-align: right;
    li{
      width: 13px;
      height: 5px;
      background: #edb893;
    }
  }
}
.slick-project{
  margin-top: 25px;
  .slick-list{padding:0 20%;}
  @media (min-width: 768px) and (max-width: 1200px){
    .slick-list{padding:0 10%;}
  }
  @media (max-width: 768px) {
    .slick-list{padding:0 30% 0 0;}
  }
  @include mobile{
    .slick-list{padding:0 10% 0 0;}
  }
}