.slide--bottom{
  /* the slides */
  .slick-slide {
    margin: 0 10px;
    padding: 0;
  }
  /* the parent */
  .slick-list {
    margin: 0 -10px;
  }
}
.slide--arrow{
  .slide--control{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 0!important;
  }
}
.slide--product  .slick-slide {
  padding: 0 50px;
}
.slide--project .slick-slide{
  padding: 0;
}
.slide--project{
  margin-bottom: 55px!important;
  .slick-dots{
    bottom: -30px;
  }
  img{
    width: 100%;
    height: 432px;
    margin: auto;
    object-fit: cover;
    @include tablet{
      height: 350px;
    }
    @include mobile{
      height: 300px;
    }
  }
}
.slide--top{
  position: relative;
  margin-top: 15px;
  margin-bottom: 60px!important;
  .slick-dots{
    bottom: -30px;
  }
  img{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 500px;
    @include tablet{
      height: 300px;
    }
    width: 100%;
  }
  &.slide--product{
    border-bottom: 3px solid #eaebeb;
    border-left: 1px solid #eaebeb;
    border-right: 1px solid #eaebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    img{
      width: auto;
      height: 432px;
      margin: auto;
      max-width: 100%;
      object-fit: cover;
      @include tablet{
        height: 350px;
      }
      @include mobile{
        height: 300px;
      }
    }
    .slick-dots{
      bottom: -40px;
    }
  }
}
.slide--arrow{
  display: flex;
  position: absolute;
  top: calc(50% - 20px);
  width: 100%;
  justify-content: space-between;
}
.slide--container{
  .slide--control{
    position: absolute;
    left: 15px;
    top: 40%;
    &:nth-child(2){
      left: unset;
      right: 15px;
    }
  }
}