.aside{
  a{
    &:hover{
      color: $c-main;
    }
  }
  ul{
    padding-left: 10px;
    list-style: none;
  }
  &__title{
    text-transform: uppercase;
    color: $c-black;
    font-weight: 700;
    &.c-grey{
      color: $c-grey;
    }
  }
  &__item{
    padding: 5px 0 5px 20px;
    color: #958f91;
    font-weight: 600;
    position: relative;
    font-size: 12px;
    &:before{
      content: "";
      left: 0;
      position: absolute;
      top: calc( 50% - 4px);
      height: 8px;
      width: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: $c-main;
    }
    a{
      color: inherit;
    }
  }
  &__tags{
    margin:2px 0;
    display: inline-block;
    padding: 5px 7px;
    background: $c-grey;
    font-size: 11px;
    color: $c-light;
    position: relative;
    a:hover{
      color: unset;
    }
  }
  &__news{
    padding: 7px 0 7px 20px;
    border-bottom: 1px solid $c-gray;
    font-size: 13px;
    color: $c-grey;
    position: relative;
    &:before{
      position: absolute;
      left: 0;
      color: $c-main;
      content: ">";
      font-weight: 700;
    }
    a:hover{
      color: $c-main;
    }
    time{
      display: block;
      font-size: 11px;
      font-weight: 500;
    }
  }
  &__project{
    display: flex;
    justify-content: space-between;
    color: #777777;
    font-size: 12px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid $c-gray;
    i{
      display: inline-block;
      margin-right: 7px;
    }
  }
  &__checkbox{
    position: relative;
    input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked~span{
        &::before{
          background: $c-main;
        }
        color: $c-main;
      }
      &~span{
        cursor: pointer;
        padding-left: 22px;
        font-size: 12px;
        font-weight: 600;
        color: $c-gray;
        user-select: none;
        position: relative;
        &:before{
          position: absolute;
          width: 14px;
          height: 14px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          left: 0;
          top: calc(50% - 7px);
          content: "";
          background: $c-gray;
        }
      }
    }
  }
  &__cat{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: $c-gray;
    padding: 4px 0;
    &:hover a{
      color: $c-main;
    }
    &.active{
      color: $c-grey;
      font-weight: 700;
    }
  }
  &__product{
    padding: 12px 15px;
    background: $c-lightgray;
    color: $c-grey;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    border-bottom: 2px solid #eaebeb;
  }
  &__image{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #eaebeb;
    border-bottom: 2px solid ;
    border-left: 1px solid;
    border-right: 1px solid;
    img{
      width: 40px;
      height: 47px;
      object-fit: contain;
    }
  }
  &__price{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #eaebeb;
    border-bottom: 2px solid ;
    border-left: 1px solid;
    border-right: 1px solid;
    background: $c-light;
    padding: 12px 15px;
    h1{
      margin-top: 0;
      color: $c-main;
      font-weight: 700;
      font-size: 21px;
    }
    .price{
      color: $c-main;
      font-weight: 600;
      font-size: 17px;
      display: block;
      line-height: 1;
    }
    small{
      line-height: 1;
      color: $c-grey;
      font-weight: 600;
    }
  }
}
video{
  width: 100%;
  height: 100%;
}