.footer{
  background: $c-lightDark;
  margin-top: 200px;
  @include tablet{
    margin-top: 180px;
  }
  ul{
    padding-left: 0;
  }
  .form--send{
    margin-top: -115px;
    background: $c-light;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 70px;
    @include mobile{
      padding: 25px 15px;
    }
    input , textarea{
      height: 50px;
      border: none;
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
      padding: 20px 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    textarea{
      height: 108px;
      resize: none;
    }
  }
  &__list{
    margin-top: 50px;
  }
  .social__item{
    display: inline-block;
    margin: 5px;
  }
  &__copyright{
    padding: 15px 0;
    background: $c-black;
    p{
      margin-bottom: 0;
      color: $c-darkgray;
      font-size: 11px;
    }
  }
}