.header {
  height: 105px;
  position: relative;
  background: $c-light;
  &__menu{
    margin-right: 105px;
    position: relative;
    margin-left: calc(20% - 70px);
    width: 100%;
    @media (max-width: 1366px) {
      margin-right: 30px;
    }
    @include tablet{
      margin-right: 15px;
    }
  }
  .nav-item{
    position: relative;
  }
  .language {
    margin-right: 20px;
    color:$c-light;
    font-size: 12px;
    &-item {
      width: 25px;
      height: 25px;
      margin: 0 5px;
      display: block;
      &.language--vietnam {
        background: url("../img/logo-vn.png") center/cover;
      }

      &.language--usa{
        background: url("../img/logo-usa.png") center/cover;
      }
    }
  }
  &__top {
    height: 45px;
    line-height: 45px;
    background: $c-black;

    .input-group {
      width: 170px;
      height: 30px;
      margin-right: 10px;

      input {
        height: 30px;
        background: $c-black;
        color: $c-light;
        font-size: 14px;
      }

      button {
        border: none;
        padding: 5px 10px;
        -webkit-border-radius: 0 .25rem .25rem 0;
        -moz-border-radius: 0 .25rem .25rem 0;
        border-radius: 0 .25rem .25rem 0;
      }
    }
  }

  &__main {
    height: 50px;
    line-height: 50px;
    background: $c-main;
    display: flex;
    align-items: center;

    .menu--desktop {
      padding: 0;
    }
    .menu-toggle {
      font-size: 33px;
      color: $c-light;
    }

    .menu--desktop .nav-item {
      padding: 0 25px;
      position: static;
      cursor: pointer;
      top: 0;
      color: $c-light;
      @include tablet{
        padding:0 15px;
      }
      .nav--child{
        z-index: 1222;
        line-height: 1;
        display: flex;
        background: #f6f3f4 ;
        position: absolute;
        list-style: none;
        padding: 60px 30px;
        width: 100%;
        top: calc(100% - 20px);
        right: 0;
        left: 0;
        z-index: 10;
        justify-content: space-around;
        font-weight: 700;
        color: #958f91!important;
        opacity: 0;
        visibility: hidden;
        transition:all .3s ;
        &-title{
          padding: 5px 0;
          font-size: 14px;
          font-weight: 700;
          border-bottom: 1px solid;
          text-transform: uppercase;
        }
        ul{
          list-style: none;
          padding-left: 0;
          margin-bottom: 50px;
          li{
            padding: 7px 0;
            font-size: 13px;
            a:hover{
              color: $c-main;
            }
          }
        }
      }
      a {
        color: inherit;
        position: relative;
        font-weight: 700;
      }
      &.active>a::before{
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        top: calc(50% - 2px);
        left: -20px;
        color: inherit;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: currentColor;
      }
      &:hover{
        background: #f6f3f4;
        color: $c-main;
        .nav--child{
          opacity: 1;
          visibility: visible;
          top: calc(100% + 10px);
          transition:all .3s ;
          &:before{
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 10px;
          }
        }
        a{
          color: inherit;
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      .menu--desktop .nav-item{
        padding: 0 15px;
      }
    }
    //responsive navbar header **************
    @media (max-width: 991px)
    {
      .menu--mobile{
        position: absolute;
        top: 100%;
        z-index: 1;
        min-width: 150px;
        display: none;
        right: 10px;
        padding:10px 5px;
        color: #958f91!important;
        width: 200px;
        background: #f6f3f4 ;
        text-transform: uppercase;
        .nav--child-title{
          font-size: 14px;
          font-weight: 700;
        }
        a{
          color: #958f91!important;
        }
        &.show{
          display: block;
        }
        ul{
          list-style: none;
          padding-left: 25px;
          li{
            line-height: 1;
            padding: 10px 0;
            i{
              float: right;
            }
          }
        }
      }
      .menu-toggle{
        outline: none!important;
        display: block;
        background: none;
        border: none;
        color: $c-black;
      }
    }
  }

  &__logo {
    position: absolute;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    left: 0;
    background: $c-light;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);

    img {
      height: 85px;
      @include tablet{
        height: 57px;
      }
    }
  }
  &__search{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    input,button {
      height: 40px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    input{
      padding: 10px;
      width: 70vw;
      border: 1px solid $c-gray;
    }
    button{
      background: $c-main;
      color: $c-light;
      font-size: 25px;
      width: 40px;
      padding: 0;
      line-height: 40px;
    }
  }
}

.banner {
  position: relative;

  img {
    width: 100%;
    max-height: 663px;
    min-height: 450px;
    object-fit: cover;
  }

  &__content {
    font-weight: 700;
    position: absolute;
    top: 15%;
    left: 40%;
    right: 135px;
    color: $c-light;
    h1 {
      font-weight: 800;
    }
    p{
      font-size: 14px;
      font-weight: 400;
    }
    background: rgba($c-black, .6);
    padding: 50px 75px;
    @include  laptop{
      left: 50px;
      right: 50px;
      .view-more{
        font-size: 15px;
      }
    }
    @include tablet{
      left: 0;
      right: 0;
      padding: 15px 25px;
      h1{
        font-size: 25px;
      }
      .view-more{
        font-size: 13px;
      }
    }
  }
}

.company__slick {
  max-width: 841px;
  position: relative;
  margin: -50px auto 15px auto;
  padding-bottom: 30px;
  background: $c-light;
  border-bottom: 10px solid $c-main;
  -webkit-box-shadow: -4px -3px 6px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: -4px -3px 6px 0px rgba(0, 0, 0, .2);
  box-shadow: -4px -3px 6px 0px rgba(0, 0, 0, .2);

}