.thumbnail {
  position: relative;
  padding-top: 65.25%;
  display: inline-block;
  max-width: 100%;

  &--intro {
    width: 471px;
    -webkit-box-shadow: 10px 10px 0 0 $c-main;
    -moz-box-shadow: 10px 10px 0 0 $c-main;
    box-shadow: 10px 10px 0 0 $c-main;
    overflow: hidden;
    padding-top: 75.25%;
    max-width: initial;
    @media (max-width: 1200px) {
      max-width: 100%;
      padding-top: 65.25%;
    }
    img {
      transition: .4s;
    }

    &:hover {
      img {
        transition: .4s;
        transform: scale(1.1) rotate(5deg);
      }
    }
  }

  &--author {
    width: 30px;
    height: 30px;
    padding: 0 !important;
    margin-top: 5px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.section--achieve {
  background: rgba($c-black, .7) url("../img/thumb/Uhuru-Contract-1-Workplace_Essentials_Enviro_FLAT.png") bottom center/cover no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding: 50px 0;

  .achieve {
    color: $c-light;
    padding: 10px 0;

    h5 {
      font-size: 34px;
      font-weight: 700;
    }

    strong {
      color: $c-main;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 700;
      height: 50px;
      display: inline-block;
    }

    p {
      font-size: 13px;
    }
  }
}

.list-partner {
  justify-content: space-between;

  .partner {
    margin: 3px 0;
    padding: 5px;
    width: 32%;
    background: $c-main;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.box--comment {
  height: 288px;
  padding: 30px;
  width: 365px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

  .small {
    font-size: 90%;
  }
}

.comment__author {
  font-size: 13px;
  padding-right: 25px;
}

.section--gray {
  background: #faf9f9;
  padding: 75px 0;
  @include tablet {
    padding: 40px 0;
  }
}

.project {
  margin: 0 10px;
  position: relative;
  width: 410px;
  height: 425px;

  &:nth-child(2) &__content {
    margin-top: 20%;
  }

  &:nth-child(3) &__content {
    margin-top: 40%;
  }

  &:nth-child(3) &__content {
    margin-top: 30%;
  }

  &.slick-slide {
    padding: 75px;
    @include mobile {
      padding: 75px 15px;
    }

    .project__content {
      background: rgba($c-light, .8);
      padding: 25px 20px;

      h6 {
        font-size: 13px;
        font-weight: 700;
      }

      p {
        font-size: 12px;
        font-weight: 400;
      }

      .view-more--normal {
        text-transform: initial;
      }
    }
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

}

.news {
  position: relative;
  margin: 15px 0;
  min-height: 220px;

  img {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 60%;
    height: 100%;
  }

  &__content {
    position: absolute;
    width: 70%;
    padding: 20px 30px;
    right: 0;
    bottom: 0;
    background: $c-light;
    top: 15px;
    z-index: 1;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);

    h1 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @include tablet {
      width: 80%;
      padding: 15px;
      h6 {
        font-size: 13px;
      }
      .view-more {
        font-size: 11px !important;
      }
      p {
        font-size: 11px;
      }
    }

    .view-more {
      font-size: 13px;
      text-transform: initial;
      margin-bottom: 0;
    }
  }
}

.list {
  &__title {
    margin: 15px 0;
    color: $c-light;
    font-size: 14px;
    font-weight: 600;
  }

  &__item {
    list-style: none;
    margin: 3px 0;
    display: block;
    color: $c-light;

    a {
      color: $c-light;
      &:hover{
        color: $c-main;
      }
    }

    padding-left: 30px;
    background: url("../img/icon/play-button.png") left 5px/10px 10px no-repeat;
    &.location{
      background: url("../img/icon/pointer.png") left 4px/12px 12px no-repeat;
    }
    &.phone{
      background: url("../img/icon/call-answer.png") left 4px/8px 8px no-repeat;
    }
    &.email{
      background: url("../img/icon/email.png") left 4px/8px 8px no-repeat;
    }
  }
}
.content {
  .list__item {
    color: $c-black;
    padding-left: 15px;
  }
}

.wrap-content {
  max-width: 420px;
}

.wrap-left {
  padding-left: 25px;
}

.branch {
  img {
    max-width: 200px;
  }

  .nav-item {
    margin: 12px;
  }
}

.box--contact {
  padding:20px 10px 20px 10px;
  background: #f8f8f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 187px;
  border-bottom: 2px solid #eaebeb;
  overflow: hidden;
  margin:0 auto 30px;
  max-width: 70vw;
  h6{
    font-size: 13px;
    font-weight: 700;
  }
  .list-contact{
    margin-top: 25px;
    padding-left: 0;
    .list__item{
      color: $c-black;
      font-weight: 500;
      font-size: 9px;
      padding-left: 20px;
    }
  }
}
.box--project{
  padding:40px 15px 20px 15px;
  background: #f8f8f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 250px;
  height: calc(100% - 30px);
  border-bottom: 2px solid #eaebeb;
  overflow: hidden;
  margin:0 auto 30px;
  max-width: 70vw;
  position: relative;
  &:hover .content-overlay{
    opacity: 1;
  }
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .content-overlay{
    opacity: 0;
    transition: .3s;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    background: rgba($c-light,.8);
    z-index: 1;
    padding: 30px 70px 15px;
    h6{
      color: $c-main;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2px;
    }
    .view-more--normal{
      font-size: 12px;
      font-weight: 600;
    }
  }
}
.article{
  display: flex;
  border-bottom: 2px solid #e5e6e6;
  padding-bottom: 20px;
  margin-bottom: 55px;
  &--detail{
    border-bottom: none;
  }
  @include tablet{
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  img{
    height: 220px;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  &__time{
  margin-right: 20px;
  }
  &__date{
    width: 50px;
    background: #f8f8f8;
    text-align: center;
    color: $c-grey;
    font-size: 22px;
    line-height: 1.1;
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 2px solid $c-gray;
    margin-bottom: 10px;
    b:first-child{
      font-size: 14px;
    }
  }
  &__type{
    width: 50px;
    background: $c-grey;
    color: $c-light;
    font-size: 22px;
    text-align: center;
    padding: 10px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  &__detail{
    h2.text--main{
      padding-bottom:5px;
      font-size: 18px;
      @include tablet{
        font-size: 14px;
      }
    }
    p{
      font-size: 12px;
    }
  }
  &__title{
    margin-bottom: 20px;
    h2{
      margin-bottom: 0;
      padding-bottom: 0!important;
    }
    time{
        font-size: 12px;
      color: $c-grey;
    }
  }
  &__tool{
    background: #ececec;
    margin-top: 100px;
    @include tablet{
      margin-top: 30px;
    }
    .nav{
      display: flex;
      padding-left: 15px;
      align-items: center;
      &-item{
        line-height: 1;
        padding: 12px 5px;
      }
    }
  }
}
.project{
  &__title{
    font-weight: 700;
    font-size: 14px;
  }
  &__detail{
    p{
      font-size: 12px;
    }
  }
}
.slide--title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  .title{
    @include tablet{
      font-size: 17px;
    }

  }
  .project__title{
    margin-bottom: 0;
  }
  &-line{
    height: 1px;
    margin:25px 30px;
    background: $c-gray;
    display: block;
    flex-grow: 1;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      left: 0;
      top: calc(50% - 2px);
      background: inherit;
      height: 4px;
      width: 4px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}
.slide--control{
  width: 30px;
  flex-shrink: 0;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  color: $c-light;
  background: $c-main;
  &.slick-disabled{
    background: #e2e2e2 ;
  }
  height: 30px;
  text-align: center;
  line-height: 30px;
  user-select: none;
}
.project-slide{
  position: relative;
  cursor: pointer;
  &-content{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: $c-light;
    background: rgba($c-main,.9);
    display: flex;
    align-items: flex-end;
    z-index: 1;
    padding-left: 90px;
    padding-bottom: 5px;
    transition: .3s;
    h4{
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
    a{
      color: $c-light;
      font-size: 12px;
    }
  }
  &:hover &-content{
    opacity: 1;
    visibility: visible;
  }
  img{
    width:100%;
    height: 200px;
    object-fit: cover;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}
.product{
  margin:0 auto 30px;
  max-width: 320px;
  &__thumb{
    border-radius: 5px;
    border-left: 1px solid #eaebeb;
    border-right: 1px solid #eaebeb;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom: 3px solid #eaebeb;
    display: block;
    text-align: center;
    img{
      height: 227px;
      object-fit: cover;
    }
  }
  &__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
  }
}
.product__info{
  .nav-tabs{
    border-bottom: 0;
    .nav-item{
      margin-right: 15px;
      .nav-link{
        background: $c-lightgray;
        color: $c-grey;
        border: none;
        font-size: 13px;
        padding: .6rem 1.7rem;
        &.active{
          background: $c-main;
          color: $c-light;
        }
      }
      font-weight: 600;
      @include mobile{
        margin-right: 0;
        flex-grow: 1;
        .nav-link{
          font-size: 12px;
          padding: .5rem;
        }
      }
    }
  }
  .tab-content{
    background: $c-lightgray;
    font-size: 12px;
    min-height: 125px;
    padding:20px;
    border-bottom: 3px solid #eaebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
.magnify > .magnify-lens {
  position: absolute;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  cursor: none;
  display: none;
  z-index: 99;
}
.sticky-top{
  top: 15px;
}