@charset "UTF-8";

/* Mixin */


/* Set các giá trị với màn hình tương ứng */

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    color: #626262;
}

a {
    color: inherit;
}

.brown { color:#692f22!important;}
.gray { color:#888!important;}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.c-light {
    color: #ffffff !important;
}

.c-dark {
    color: #000000 !important;
}

.c-main {
    color: #db7227 !important;
}

.c-grey {
    color: #958f91;
}

.b-lightgray {
    background: #f8f8f8;
}

.flex--center-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.view-more {
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    color: #db7227;
}

.view-more i {
    transition: 0.2s;
    display: inline-block;
}

.view-more:hover i {
    margin-left: 5px;
}

.view-more--normal {
    color: #000000;
}

.view-more--normal:hover {
    color: #db7227;
}

.view-more--article {
    font-size: 13px;
    color: #db7227;
    padding-right: 15px;
    background: url("../img/icon/arrow-1.png") right 3px/8px 8px no-repeat;
    transition: 0.2s;
}

.view-more--article:hover {
    color: #db7227;
    padding-right: 20px;
}

.section {
    margin-bottom: 75px;
}

.title {
    padding-bottom: 25px;
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.title--mark {
    background: url("../img/icon/title-mark.png") right 10px/43px 30px no-repeat;
}

.text--line {
    color: #db7227;
    padding-right: 40px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}

.text--line:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: #db7227;
    right: 0;
    top: 10px;
}

.text--main {
    color: #db7227;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.comment__author .text--main {
    margin-bottom: 0;
}

.text--2-line {
    padding: 0 50px;
    position: relative;
    background: #ffffff;
    color: #db7227;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.text--2-line::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
    background: #db7227;
}

.text--2-line::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    right: 0;
    top: calc(50% - 1px);
    background: #db7227;
}

.text--inverse-line {
    padding-left: 40px;
    position: relative;
    display: inline-block;
    font-size: 12px;
}

.text--inverse-line:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: #000;
    left: 0;
    top: 8px;
}

.btn--send {
    margin-top: 35px;
    width: 165px;
    height: 45px;
    line-height: 45px;
    background: #db7227;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.icon-facebook {
    width: 36px;
    height: 36px;
    background: url("../img/logo/facebook.png") center/contain;
}

.icon-youtube {
    width: 36px;
    height: 36px;
    background: url("../img/logo/youtube.png") center/contain;
}

.btn--to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    right: 10%;
    bottom: 360px;
    opacity: 0;
    z-index: 11;
    background: #363636 url("../img/icon/icon-arrow-to-top.png") center/17px no-repeat;
}


.hotline-topbar {
	position: relative;top: 1px;right: 15px;float: none;background: none;color: #f26522; font-weight: bold; color:#666;
}
.hotline-topbar i { color:#d80027; font-style: normal;}


@media (max-width: 768px) {
    .btn--to-top {
        bottom: 30px;
        width: 40px;
        height: 40px;
        right: 15px;
        background: #363636 url("../img/icon/icon-arrow-to-top.png") center/13px no-repeat;
    }
}

.icon-share-fb {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../img/social/facebook.png") center/30px no-repeat;
}

.icon-share-linkedin {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../img/social/linkedin.png") center/30px no-repeat;
}

.icon-share-twitter {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../img/social/twitter.png") center/30px no-repeat;
}

.icon-share-instagram {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../img/social/instagram.png") center/30px no-repeat;
}

.container {
    /* max-width: 840px; */
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */


/* Document
   ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* Sections
   ========================================================================== */


/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}


/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
   ========================================================================== */


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
   ========================================================================== */


/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}


/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
   ========================================================================== */


/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}


/* Forms
   ========================================================================== */


/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}


/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}


/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
   ========================================================================== */


/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}


/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}


/* Misc
   ========================================================================== */


/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}


/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

.slick-slide {
    padding: 0 20px;
    outline: none;
}

.slick-slide img {
    max-width: 100%;
    margin: auto;
}

.slick-slide .company__logo {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.slick-slide p {
    font-size: 15px;
    color: #626262;
    font-weight: 700;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.company__slick .slick-slide a i {
    font-style: normal;
}

.slick-slide a {
    color: #000000;
    font-size: 13px;
}

.slick-slide a:focus {
    outline: none;
}

.slick-dots {
    bottom: 0;
}

.slick-dots li {
    display: inline-block;
    height: 3px;
    background: #c0c0c0;
    width: 50px;
    padding: 0;
}

.company__slick .slick-dots {
    margin-bottom: 25px;
}

@media (max-width: 479px) {
    .slick-dots li {
        width: 30px;
        height: 2px;
    }
}

.slick-dots li button {
    text-indent: -9999px;
}

.slick-dots li.slick-active {
    background: #db7227 !important;
}

.slick-comment .slick-slide {
    padding: 0;
    outline: none;
}

.slick-comment .slick-slide p {
    font-weight: 400;
    font-size: 13px;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* color: #000; */
}

.slick-comment .slick-slide .comment__author p {
    color: #000;
}

.slick-comment .slick-dots {
    text-align: right;
}

.slick-comment .slick-dots li {
    width: 13px;
    height: 5px;
    background: #edb893;
}

.slick-project {
    margin-top: 25px;
}

.slick-project .slick-prev {
    z-index: 99;
    left: -35px;
    transition: all 0.3s ease-in-out;
}

.slick-project .slick-next {
    z-index: 99;
    margin-right: 10px;
    right: -35px;
    transition: all 0.3s ease-in-out;
}

.slick-project .slick-prev:before {
    font-size: 32px;
    text-align: right;
    color: #db7227;
}

.slick-project .slick-next:before {
    font-size: 32px;
    text-align: left;
    color: #db7227;
}

.slick-project:hover .slick-prev {
    left: 20px;
}

.slick-project:hover .slick-next {
    right: 20px;
}

.slick-project .slick-list {
    padding: 0 20%;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .slick-project .slick-list {
        padding: 0 10%;
    }
}

@media (max-width: 768px) {
    .slick-project .slick-list {
        padding: 0 30% 0 0;
    }
}

@media (max-width: 479px) {
    .slick-project .slick-list {
        padding: 0 10% 0 0;
    }
}

.slide--bottom {
    /* the slides */
    /* the parent */
}

.slide--bottom .slick-slide {
    margin: 0 10px;
    padding: 0;
}

.slide--bottom .slick-list {
    margin: 0 -10px;
}

.slide--bottom {
    /* the slides */
    /* the parent */
}

.slide--bottom-1 .slick-slide {
    margin: 0 10px;
    padding: 0;
}

.slide--bottom-1 .slick-list {
    margin: 0 -10px;
}

.slide--arrow .slide--control {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 0 !important;
}

.slide--product .slick-slide {
    padding: 0 50px;
}

.slide--project .slick-slide {
    padding: 0;
}

.slide--project {
    margin-bottom: 55px !important;
}

.slide--project .slick-dots {
    bottom: -30px;
}

.slide--project img {
    width: 100%;
    height: 432px;
    margin: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .slide--project img {
        height: 350px;
    }
}

@media (max-width: 479px) {
    .slide--project img {
        height: 300px;
    }
}

.slide--top {
    position: relative;
    margin-top: 15px;
    margin-bottom: 60px !important;
}

.slide--top .slick-dots {
    bottom: -30px;
}

.slide--top img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 500px;
    width: 100%;
}

.slide--top .slick-slide {
    text-align: center;
}

.slide--top .slick-slide .magnify {
    display: inline-block;
}

@media (max-width: 768px) {
    .slide--top img {
        height: 300px;
    }
}

.slide--top.slide--product {
    border-top: 1px solid #eaebeb;
    border-bottom: 3px solid #eaebeb;
    border-left: 1px solid #eaebeb;
    border-right: 1px solid #eaebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.slide--top.slide--product img {
    width: auto;
    height: 432px;
    margin: auto;
    max-width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .slide--top.slide--product img {
        height: 350px;
    }
}

@media (max-width: 479px) {
    .slide--top.slide--product img {
        height: 300px;
    }
}

.slide--top.slide--product .slick-dots {
    bottom: -40px;
}

.slide--arrow {
    display: flex;
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    justify-content: space-between;
}

.slide--container .slide--control {
    position: absolute;
    left: 15px;
    top: 40%;
}

.slide--container .slide--control:nth-child(2) {
    left: unset;
    right: 15px;
}

.slide--container .slide--control i.la {
    margin-top: 7px;
}


/* Common styles of menus */

.dl-menuwrapper {
    width: 250px;
    float: left;
    position: relative;
    z-index: 1;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
}

.dl-menuwrapper button {
    border: none;
    background: none;
    float: right;
    display: inherit;
    line-height: 50px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    color: #000000;
    font-size: 33px;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    color: #958f91 !important;
    background: #f6f3f4;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative;
}

.dl-menuwrapper li a {
    display: block;
    position: relative;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #958f91 !important;
    outline: none;
}

.dl-menuwrapper li a:hover {
    color: #db7227!important;
}

.dl-menuwrapper li.dl-back>a {
    padding-left: 30px;
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li>a:not(:only-child):after {
    position: absolute;
    top: -5px;
    line-height: 50px;
    font-family: "Line Awesome Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    content: "";
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li>a:after {
    right: 10px;
}

.dl-menuwrapper .dl-menu {
    margin: -2px 0 0 0;
    position: absolute;
    white-space: nowrap;
    min-width: 250px;
    width: 250px;
    opacity: 0;
    right: 0;
    top: 100%;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}


/* Hide the inner submenus */

.dl-menuwrapper li .dl-submenu {
    display: none;
}


/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/

.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen>a,
.dl-menu.dl-subview li.dl-subview>a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen>.dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen>.dl-submenu>li {
    display: block;
}


/* Dynamically added submenu outside of the menu context */

.dl-menuwrapper>.dl-submenu {
    position: absolute;
    width: 250px;
    top: 50px;
    left: 0;
    margin: 0;
}


/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimOut2 {
    0% {}
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut2 {
    0% {}
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

.dl-menuwrapper>.dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

.dl-menuwrapper>.dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}


/* No JS Fallback */

.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li>a:not(:only-child) {
    background: rgba(0, 0, 0, 0.1);
}

.no-js .dl-menuwrapper li>a:not(:only-child):after {
    content: "";
}

.breadcrumb {
    margin-bottom: 0;
    color: #8b8b8b;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .breadcrumb {
        padding: 0.8rem 0;
    }
    .breadcrumb a {
        font-size: 12px !important;
    }
}

.breadcrumb a {
    font-weight: 700;
    color: #8b8b8b;
}

.breadcrumb h1 {
    font-weight: 700;
    line-height: 1;
    font-size: 20px;
    margin: 0;
    text-transform: inherit;
    color: #8b8b8b;
}

.breadcrumb .breadcrumb-item-main {
    margin-left: auto;
}

@media (max-width: 768px) {
    .breadcrumb .breadcrumb-item-main {
        display: none !important;
    }
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "";
    font-family: "Line Awesome Free";
    font-weight: 900;
}

.breadcrumb-container {
    background-color: #e9ecef;
}

.page-link {
    margin: 0 4px;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    font-weight: 700;
    background: #363636;
    color: #ffffff;
}

@media (max-width: 479px) {
    .page-link {
        margin: 0;
        padding: 0.4rem 0.65rem;
    }
}

.page-link:focus,
.page-link:active {
    outline: none;
    box-shadow: none;
}

.page-item.active .page-link {
    background: #db7227;
    border: 1px solid #db7227;
}

.header {
    height: 105px;
    position: relative;
    background: #ffffff;
    z-index: 9999;
}

.header__menu {
    margin-right: 105px;
    position: relative;
    margin-left: calc(20% - 70px);
    width: 100%;
}

@media (max-width: 1366px) {
    .header__menu {
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .header__menu {
        margin-right: 15px;
    }
}

.header .nav-item {
    position: relative;
}

.header .language {
    margin-right: 20px;
    color: #ffffff;
    font-size: 12px;
}

.header .language-item {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    display: block;
    cursor: pointer;
}

.header .language-item.active,
.header .language-item:hover {
    opacity: 1;
}

.header .language-item.language--vietnam {
    background: url("../img/logo-vn.png") center/cover;
}

.header .language-item.language--usa {
    background: url("../img/logo-usa.png") center/cover;
}

.header__top {
    height: 45px;
    line-height: 45px;
    background: #fff
}

.header__top .input-group {
    width: 170px;
    height: 30px;
    margin-right: 10px;
}

.header__top .input-group input {
    height: 30px;
    background: #fff;
    color: #000;
    font-size: 14px;
}

.header__top .input-group button {
    border: none;
    padding: 5px 10px;
    -webkit-border-radius: 0 0.25rem 0.25rem 0;
    -moz-border-radius: 0 0.25rem 0.25rem 0;
    border-radius: 0 0.25rem 0.25rem 0;
}

.header__main {
    height: 50px;
    line-height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
}

.header__main .menu--desktop {
    padding: 0;
}

.menu_control-mobile {
    position: relative;
}

.menu_control-mobile .nav-item:first-child {
    position: absolute;
    right: 45px;
    z-index: 9999;
}

.header__main .menu-toggle {
    font-size: 33px;
    color: #ffffff;
}

.header__main .menu--desktop .nav-item {
    padding: 0 25px;
    position: static;
    cursor: pointer;
    top: 0;
    color: #8b8888;
}

@media (max-width: 768px) {
    .header__main .menu--desktop .nav-item {
        padding: 0 15px;
    }
}

.header__main .menu--desktop .nav-item .nav--child {
    z-index: 1222;
    line-height: 1;
    display: flex;
    background: #f6f3f4;
    position: absolute;
    list-style: none;
    padding: 20px;
    width: 100%;
    top: calc(100% + 20px);
    right: 0;
    left: 0;
    /* z-index: 10; */
    justify-content: space-around;
    font-weight: 700;
    color: #958f91 !important;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.header__main .menu--desktop .nav-item .nav--child-title {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid;
    text-transform: uppercase;
}

.header__main .menu--desktop .nav-item .nav--child ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
}

.header__main .menu--desktop .nav-item .nav--child ul li {
    padding: 7px 10px;
    font-size: 13px;
}

.header__main .menu--desktop .nav-item .nav--child ul li a:hover {
    color: #db7227;
}

.header__main .menu--desktop .nav-item a {
    color: inherit;
    position: relative;
    font-weight: 700;
    font-size: 15px;
}

.header__main .menu--desktop .nav-item .nav--child-item a {
    font-size: 12px;
    font-weight: 400;
}

.header__main .menu--desktop .nav-item:hover,
.header__main .menu--desktop .nav-item.active {
    background: #f6f3f4;
    color: #db7227;
}

.header__main .menu--desktop .nav-item:hover .nav--child {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 10px);
    transition: all 0.3s;
}

.header__main .menu--desktop .nav-item:hover .nav--child:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}

.header__main .menu--desktop .nav-item:hover a {
    color: inherit;
}

.header__main .menu--desktop .nav-item .nav--child .row .col:last-child ul li.has-sub .sub-nav {
    left: auto;
    right: 100%;
    min-height: 100%;
}

.icon-spec { margin: 0 1px; display: inline-block; padding: 2px 6px 2px 6px; background: #d80027; color: #fff; font-weight: 400!important; border-radius: 3px; vertical-align: middle; font-size: 10px!important; font-style: normal!important;}
.col-9-style {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px;
}

.text--inverse-line {
    font-weight: 600;
    color: #000;
}

.slick-banner {
    overflow: hidden;
}

.product__title span {
    text-transform: none;
    display: block;
    color: #000;
    margin-top: 5px;
    font-size: 18px;
}

.btn-filter
 {
    display: none;
}

.thumbs-img {
    display: block;
    margin-bottom: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header__main .menu--desktop .nav-item {
        padding: 0 15px;
    }
}

@media (max-width: 991px) {
    .filter-mobile {
        position: fixed;
        top: 57px;
        left: -100vw;
        background: #fff;
        border: 1px solid #db7227;
        padding: 20px 15px 15px 15px;
        transition: all .2s ease-in-out 0s;
        min-width: 210px;
        border-radius: 3px;
    }
    .open .filter-mobile {
        left: 20px;
    }
    .btn-filter {
        /* display: block; */
        position: fixed;
        top: 20px;
        LEFT: 20px;
        background: #f59f61;
        border: 0;
        border-radius: 3px;
        font-size: 24px;
        padding-top: 4px;
        padding-bottom: 3px;
        color: #fff;
        transition: all .2s ease-in-out 0s;
    }
    .open .btn-filter {
        color: #fff;
        border-color: #f59f61;
    }
    .filter-mobile .pb-3:first-child {
       
    }
    .filter-mobile .pb-3:last-child {
        padding-bottom: 0!important;
    }
    .btn-filter-search i {
        /* font-size: 18px; */
        /* padding: 0 4px; */
    }
    .header__main .menu--mobile {
        position: absolute;
        top: 100%;
        z-index: 1;
        min-width: 150px;
        display: none;
        right: 10px;
        padding: 10px 5px;
        color: #958f91 !important;
        width: 200px;
        background: #f6f3f4;
        text-transform: uppercase;
    }
    .header__main .menu--mobile .nav--child-title {
        font-size: 14px;
        font-weight: 700;
    }
    .header__main .menu--mobile a {
        color: #958f91 !important;
    }
    .header__main .menu--mobile.show {
        display: block;
    }
    .header__main .menu--mobile ul {
        list-style: none;
        padding-left: 25px;
    }
    .header__main .menu--mobile ul li {
        line-height: 1;
        padding: 10px 0;
    }
    .header__main .menu--mobile ul li i {
        float: right;
    }
    .header__main .menu-toggle {
        outline: none !important;
        display: block;
        background: none;
        border: none;
        color: #000000;
    }
}

.header__logo {
    position: absolute;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    left: 0;
    background: #ffffff;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.header__logo img {
    /*height: 85px;*/
}

@media (max-width: 767px) {
	.banner img { min-height:0;}
    .filter-mobile { display: none;}
    .header__logo {
        height: 81%;
    }
    .header__top {
        height: 30px;
        line-height: 30px;
    }
    .header__main {
        height: 34px;
        line-height: 34px;
    }
    .header__logo img {
        height: 57px;
        padding: 1px;
    }
    .product__title span {
        font-size: 17px;
    }
}

.header__search {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.header__search input,
.header__search button {
    height: 40px;
    margin-top: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.header__search input {
    padding: 10px;
    width: 70vw;
    border: 1px solid #c0c0c0;
}

.header__search button {
    background: #db7227;
    color: #ffffff;
    font-size: 25px;
    width: 40px;
    padding: 0;
    line-height: 40px;
}

.slick-banner .slick-slide {
    padding: 0;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    max-height: 663px;
    min-height: 450px;
    object-fit: cover;
}

.banner__content {
    font-weight: 700;
    position: absolute;
    top: 30%;
    opacity: 0;
    left: 40%;
    right: 135px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    padding: 50px 75px;
    transition: all .3s;
    width: 45%;
    display: none;
}

.banner__content.active {
    top: 15%;
    opacity: 1;
}

.banner__content h1 {
    position: relative;
    transform: translateY(-50px);
    opacity: 0;
    font-weight: 800;
    transition: .3s ease .3s;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px #000;
}

.banner__content.active h1 {
    opacity: 1;
    transition: .3s ease .3s;
    transform: translateY(0);
}

.banner__content p {
    font-size: 18px;
    color: #fff!important;
    font-weight: 400;
    margin-bottom: 40px;
}

.banner__content .view-more {
    opacity: 0;
    position: relative;
    display: block;
    transform: translateX(-100px);
    transition: .3s ease .5s;
}

.banner__content.active .view-more {
    opacity: 1;
    transform: translateX(0);
    transition: .3s ease .5s;
}
.header__main .menu--desktop .nav > .nav-item > a {
    position: relative
}
.header__main .menu--desktop .nav > .nav-item > a > i {
position: absolute;
    right: -25px;
    top: -15px;
    height: 12px;
    line-height: 10px;
    font-size: 7px!important;
    padding-left: 4px;
    padding-right: 4px;
}


.header__main .menu--desktop .nav-item .nav--child .collapse-sub ul {
    margin-bottom: 0;
    margin-top: 4px;
}

.header__main .menu--desktop .nav-item .nav--child .collapse-sub ul li {
    padding: 6px 0;
    position: relative;
    padding-left: 15px;
}

.header__main .menu--desktop .nav-item .nav--child .collapse-sub ul li:after {
    position: absolute;
    left: 4px;
    top: 10px;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #888;
}

.header__main .menu--desktop .nav-item .nav--child .collapse-sub ul li a {
    font-weight: 400;
    ;
}

@media (max-width: 1023px) {
    .banner__content {
        left: 50px;
        right: 50px;
    }
    .banner__content .view-more {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .banner__content {
        left: 0;
        right: 0;
        padding: 15px 25px;
    }
    .banner__content h1 {
        font-size: 25px;
    }
    .banner__content .view-more {
        font-size: 13px;
    }
}

.company__slick {
    /* max-width: 841px; */
    position: relative;
    margin: -50px auto 15px auto;
    padding-bottom: 30px;
    background: #ffffff;
    border-bottom: 10px solid #db7227;
    -webkit-box-shadow: -4px -3px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -4px -3px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -4px -3px 6px 0px rgba(0, 0, 0, 0.2);
}

.thumbnail {
    position: relative;
    padding-top: 65.25%;
    display: inline-block;
    max-width: 100%;
}

.thumbnail--intro {
    width: 471px;
    -webkit-box-shadow: 10px 10px 0 0 #db7227;
    -moz-box-shadow: 10px 10px 0 0 #db7227;
    box-shadow: 10px 10px 0 0 #db7227;
    overflow: hidden;
    padding-top: 75.25%;
    max-width: initial;
}

@media (max-width: 1200px) {
	.hotline-topbar { display: none;}
    .thumbnail--intro {
        max-width: 100%;
        padding-top: 65.25%;
    }
}

.thumbnail--intro img {
    transition: 0.4s;
}

.thumbnail--intro:hover img {
    transition: 0.4s;
    transform: scale(1.1) rotate(5deg);
}

.thumbnail--author {
    width: 30px;
    height: 30px;
    padding: 0 !important;
    margin-top: 5px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.thumbnail img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.section--achieve {
    background: rgba(0, 0, 0, 0.7) url("../img/thumb/Uhuru-Contract-1-Workplace_Essentials_Enviro_FLAT.png") bottom center/cover no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 50px 0;
}

.section--achieve .achieve {
    color: #ffffff;
    padding: 10px 0;
}

.section--achieve .achieve h5 {
    font-size: 48px;
    font-weight: 700;
}

.section--achieve .achieve strong {
    color: #db7227;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    height: 50px;
    display: inline-block;
}

.section--achieve .achieve p {
    font-size: 15px;
}

.list-partner {
    justify-content: space-between;
}

.list-partner .partner {
    margin: 3px 0;
    padding: 5px;
    width: 32%;
    background: #db7227;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box--comment {
    height: 288px;
    padding: 30px;
    width: 365px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.box--comment .small {
    font-size: 90%;
}

.comment__author {
    font-size: 13px;
    padding-right: 25px;
}

.section--gray {
    background: #faf9f9;
    padding: 75px 0;
}

@media (max-width: 768px) {
    .section--gray {
        padding: 40px 0;
    }
}

.project {
    margin: 0 10px;
    position: relative;
    width: 410px;
    height: 425px;
}

.project .project__content {
    transition: all 0.3s ease-in-out;
    margin-top: 100px;
}

.slick-current.slick-active.project .project__content {
    margin-top: 0;
}

.project.slick-slide {
    padding: 75px;
}

@media (max-width: 479px) {
    .project.slick-slide {
        padding: 75px 15px;
    }
}

.project.slick-slide .project__content {
    background: rgba(255, 255, 255, 0.8);
    padding: 25px 20px;
}

.project.slick-slide .project__content h6 {
    font-size: 13px;
    font-weight: 700;
}

.project.slick-slide .project__content p {
    font-size: 12px;
    font-weight: 400;
}

.project.slick-slide .project__content .view-more--normal {
    text-transform: initial;
}

.project img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.news {
    position: relative;
    margin: 15px 0;
    min-height: 280px;
}

.news img {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 50%;
    height: 100%;
}

.news__content {
    position: absolute;
    width: 60%;
    padding: 35px 35px;
    right: 0;
    bottom: 0;
    background: #ffffff;
    top: 0px;
    z-index: 1;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.news__content h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news__content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 768px) {
    .news__content {
        width: 80%;
        padding: 15px;
    }
    .news__content h6 {
        font-size: 13px;
    }
    .news__content .view-more {
        font-size: 11px !important;
    }
    .news__content p {
        font-size: 11px;
    }
}

.news__content .view-more {
    font-size: 13px;
    text-transform: initial;
    margin-bottom: 0;
}

.list__title {
    margin: 15px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.list__item {
    list-style: none;
    margin: 3px 0;
    display: block;
    color: #ffffff;
    padding-left: 30px;
    background: url("../img/icon/play-button.png") left 5px/10px 10px no-repeat;
}

.list__item a {
    color: #ffffff;
}

.list__item a:hover {
    color: #db7227;
}

.list__item.location {
    background: url("../img/icon/pointer.png") left 1px no-repeat;
}

.list__item.phone {
    background: url("../img/icon/call-answer.png") left 4px/13px 13px no-repeat;
}

.list__item.email {
    background: url("../img/icon/email.png") left 3px/13px 13px no-repeat;
}

.content .list__item {
    color: #000000;
    padding-left: 15px;
}

.wrap-content {
    max-width: 420px;
}

.wrap-left {
    padding-left: 25px;
}

.branch img {
    max-width: 200px;
}

.branch .nav-item {
    margin: 12px;
}

.box--contact {
    padding: 25px 10px 25px 10px;
    background: #f8f8f8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 215px;
    border-bottom: 2px solid #eaebeb;
    overflow: hidden;
    margin: 0 auto 30px;
    max-width: 70vw;
}

.box--contact h6 {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.box--contact .list-contact {
    margin-top: 25px;
    padding-left: 0;
}

.box--contact .list-contact .list__item {
    color: #000000;
    font-weight: 500;
    font-size: 13px;
    padding-left: 20px;
}

.box--project {
    padding: 40px 15px 20px 15px;
    background: #f8f8f8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 250px;
    height: calc(100% - 30px);
    border-bottom: 2px solid #eaebeb;
    overflow: hidden;
    margin: 0 auto 30px;
    max-width: 70vw;
    position: relative;
}

.box--project:hover .content-overlay {
    opacity: 1;
}

.box--project img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.box--project .content-overlay {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    padding: 30px 70px 15px;
}

.box--project .content-overlay h6 {
    color: #db7227;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.box--project .content-overlay h6 a:hover {
    color:#db7227;
}
.box--project .content-overlay .view-more--normal {
    font-size: 12px;
    font-weight: 600;
}

.article {
    display: flex;
    border-bottom: 2px solid #e5e6e6;
    padding-bottom: 20px;
    margin-bottom: 55px;
}

.article--detail {
    border-bottom: none;
}

@media (max-width: 768px) {
    .article {
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
}

.article img {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.article.article--detail img {
	height: auto;
}

.article__time {
    margin-right: 20px;
}

.article__date {
    width: 50px;
    background: #f8f8f8;
    text-align: center;
    color: #958f91;
    font-size: 22px;
    line-height: 1.1;
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 2px solid #c0c0c0;
    margin-bottom: 10px;
}

.article__date b:first-child {
    font-size: 14px;
    display: block;
}

.article__type {
    width: 50px;
    background: #958f91;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 10px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.article__detail h2.text--main {
    padding-bottom: 5px;
    font-size: 18px;
}

@media (max-width: 768px) {
    .article__detail h2.text--main {
        font-size: 14px;
    }
}

.article__detail p {
    font-size: 14px;
}

.article__title {
    margin-bottom: 20px;
}

.article__title h2 {
    margin-bottom: 0;
    padding-bottom: 0 !important;
}

.article__title time {
    font-size: 12px;
    color: #958f91;
}

.article__tool {
    background: #ececec;
    margin-top: 100px;
}

@media (max-width: 768px) {
    .article__tool {
        margin-top: 30px;
    }
}

.article__tool .nav {
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.article__tool .nav-item {
    line-height: 1;
    padding: 12px 5px;
}

.project__title {
    font-weight: 700;
    font-size: 18px;
}

.project__detail p {
    font-size: 14px;
}

.slide--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .slide--title .title {
        font-size: 17px;
    }
}

.slide--title .project__title {
    margin-bottom: 0;
}

.slide--title-line {
    height: 1px;
    margin: 25px 30px;
    background: #c0c0c0;
    display: block;
    flex-grow: 1;
    position: relative;
}

.slide--title-line::before {
    position: absolute;
    content: "";
    left: 0;
    top: calc(50% - 2px);
    background: inherit;
    height: 4px;
    width: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slide--control {
    width: 30px;
    flex-shrink: 0;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    background: #db7227;
    height: 30px;
    text-align: center;
    line-height: 30px;
    user-select: none;
}

.slide--control.slick-disabled {
    background: #e2e2e2;
}

.project-slide {
    position: relative;
    cursor: pointer;
}

.project-slide-content {
    border-radius: 3px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #ffffff;
    background: rgba(219, 114, 39, 0.9);
    display: flex;
    align-items: flex-end;
    z-index: 1;
    padding-left: 90px;
    padding-bottom: 5px;
    transition: 0.3s;
}

.project-slide-content h4 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.project-slide-content a {
    color: #ffffff;
    font-size: 12px;
}

.project-slide:hover .project-slide-content {
    opacity: 1;
    visibility: visible;
}

.project-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.product {
    margin: 0 auto 30px;
    max-width: 320px;
}

.product__thumb {
    border-radius: 5px;
    border-left: 1px solid #eaebeb;
    border-top: 1px solid #eaebeb;
    border-right: 1px solid #eaebeb;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom: 3px solid #eaebeb;
    display: block;
    text-align: center;
}

.product__thumb img {
    height: 227px;
    object-fit: cover;
}

.product__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
}

.product__info .nav-tabs {
    border-bottom: 0;
}

.product__info .nav-tabs .nav-item {
    margin-right: 15px;
    font-weight: 600;
}

.product__info .nav-tabs .nav-item .nav-link {
    background: #f8f8f8;
    color: #958f91;
    border: none;
    font-size: 13px;
    padding: 0.6rem 1.7rem;
}

.product__info .nav-tabs .nav-item .nav-link.active {
    background: #db7227;
    color: #ffffff;
}

@media (max-width: 479px) {
    .product__info .nav-tabs .nav-item {
        margin-right: 0;
        flex-grow: 1;
    }
    .product__info .nav-tabs .nav-item .nav-link {
        font-size: 12px;
        padding: 0.5rem;
    }
}

.product__info .tab-content {
    background: #f8f8f8;
    font-size: 12px;
    min-height: 125px;
    padding: 20px;
    border-bottom: 3px solid #eaebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.magnify>.magnify-lens {
    position: absolute;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    cursor: none;
    display: none;
    z-index: 99;
}

.sticky-top {
    top: 15px;
}

.aside a:hover {
    color: #db7227;
}

.aside ul {
    padding-left: 10px;
    list-style: none;
}

.aside__title {
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}

.aside__title.c-grey {
    color: #958f91;
}

.aside__item {
    padding: 5px 0 5px 20px;
    color: #958f91;
    font-weight: 600;
    position: relative;
    font-size: 12px;
}

.aside__item:before {
    content: "";
    left: 0;
    position: absolute;
    top: calc( 50% - 4px);
    height: 8px;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #db7227;
}

.aside__item a {
    color: inherit;
}

.aside__tags {
    margin: 2px 0;
    display: inline-block;
    padding: 5px 7px;
    background: #958f91;
    font-size: 13px;
    color: #ffffff;
    position: relative;
}

.aside__tags a:hover {
    color: unset;
}

.aside__news {
    padding: 7px 0 7px 20px;
    border-bottom: 1px solid #c0c0c0;
    font-size: 14px;
    color: #958f91;
    position: relative;
}

.aside__news:before {
    position: absolute;
    left: 0;
    color: #db7227;
    content: ">";
    font-weight: 700;
}

.aside__news a:hover {
    color: #db7227;
}

.aside__news time {
    display: block;
    font-size: 12px;
    font-weight: 500;
}

.aside__project {
    display: flex;
    justify-content: space-between;
    color: #777777;
    font-size: 12px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #c0c0c0;
}

.aside__project i {
    display: inline-block;
    margin-right: 7px;
}

.aside__checkbox {
    position: relative;
}

.aside__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.aside__checkbox input:checked~span {
    color: #db7227;
}

.aside__checkbox input:checked~span::before {
    background: #db7227;
}

.aside__checkbox input~span {
    cursor: pointer;
    padding-left: 22px;
    font-size: 12px;
    font-weight: 600;
    color: #c0c0c0;
    user-select: none;
    position: relative;
    white-space: nowrap;
}

.aside__checkbox input~span:before {
    position: absolute;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    left: 0;
    top: calc(50% - 7px);
    content: "";
    background: #c0c0c0;
}

.aside__cat {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #c0c0c0;
    padding: 4px 0;
    white-space: nowrap;
}

.aside__cat:hover a {
    color: #db7227;
}

.aside__cat.active {
    color: #958f91;
    font-weight: 700;
}

.slide--title .slide-control i {
    margin-top: 7px;
}

.aside__product {
    padding: 12px 15px;
    background: #f8f8f8;
    color: #958f91;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    border-bottom: 2px solid #eaebeb;
}

.aside__image {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #eaebeb;
    border-bottom: 2px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.aside__image img {
    cursor: pointer;
    width: 40px;
    height: 47px;
    object-fit: contain;
}

.aside__price {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #eaebeb;
    border-bottom: 2px solid;
    border-left: 1px solid;
    border-right: 1px solid;
	border-top: 1px solid;
    background: #ffffff;
    padding: 12px 15px;
}

.aside__price h1 {
    margin-top: 0;
    color: #db7227;
    font-weight: 700;
    font-size: 21px;
}

.aside__price .price {
    color: #db7227;
    font-weight: 600;
    font-size: 17px;
    display: block;
    line-height: 1;
}

.aside__price small {
    line-height: 1;
    color: #958f91;
    font-weight: 600;
}

video {
    width: 100%;
    /*height: 100%;*/
}

.footer {
    background: #2c2825;
    margin-top: 200px;
}

.btn-buy {
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-radius: 3px;
    background: #db7227;
    display: block;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.btn-buy:hover {
    color: #fff!important;
    background: #d80027;
}

#pagination {
    display: block;
    width: 100%;
    text-align: center;
}

.ng-isolate-scope ul {
    display: block;
}

.ng-isolate-scope ul li {
    display: inline-block;
}

.ng-isolate-scope ul li a {
    padding: 0 14px;
    color: #ffffff;
    margin: 0 8px 0 0;
    font-weight: 700;
    height: 36px;
    /* width: 36px; */
    line-height: 36px;
    text-align: center;
    display: block;
    border: 1px solid #363636;
    border-radius: 0.25rem;
    background: #363636;
}

.ng-isolate-scope ul li.active a {
    background: #db7227;
    border: 1px solid #db7227;
}

.ng-isolate-scope ul li a:hover,
.ng-isolate-scope ul li.active a {
    background: #db7227;
    border: 1px solid #db7227;
}

.header__main .menu--desktop .nav-item.nav-type {
    position: relative;
}

.header__main .menu--desktop .nav-item.nav-type .nav--child {
    padding: 0;
    width: auto;
    min-width: 160px;	
}

.header__main .menu--desktop .nav-item.nav-type .nav--child .container-fluid {
    padding: 0;
}

.header__main .menu--desktop .nav-item.nav-type .nav--child-title {
    font-size: 13px;
    margin: 0;
    border: 0;
    text-transform: none;
    white-space: nowrap;
    padding: 0;
}

.header__main .menu--desktop .nav-item.nav-type .nav--child-title a {
    padding: 10px 15px;
    font-size: 13px;
    display: block;
}

.header__main .menu--desktop .nav-item.nav-type .nav--child-title a:hover {
    background: #eee;
    color: #db7227;
}

.header__main .menu--desktop .nav-item.nav-type .row .col,
.header__main .menu--desktop .nav-item.nav-type .row .col-3 {
    width: 100%;
    min-width: 100%;
}

@media (max-width: 1601px) {
    .banner__content {
        width: 50%;
    }
    .banner__content h1 {
        font-size: 26px;
    }
    .banner__content p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .inner-filter {
        max-height: calc(100vh - 119px);
        overflow-y: auto;
        margin-bottom: 10px;
    }
    .footer {
        margin-top: 180px;
    }
    .banner__content {
        width: 100%;
    }
}

.footer ul {
    padding-left: 0;
}

.footer .form--send {
    margin-top: -115px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 70px;
}

@media (max-width: 479px) {
    .section--achieve .achieve h5 {
        font-size: 36px;
    }
    .section--achieve .achieve strong {
        font-size: 18px;
    }
    .title {
        font-size: 24px;
    }
    .news {
        min-height: 240px;
    }
    .footer .form--send {
        padding: 25px 15px;
    }
    .box--contact {
        height: auto;
        max-width: 90%;
    }
    .footer__copyright p {
        font-size: 12px;
    }
}

.footer .form--send input,
.footer .form--send textarea {
    height: 50px;
    border: none;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.footer .form--send textarea {
    height: 108px;
    resize: none;
}

.footer__list {
    margin-top: 50px;
    font-size: 14px;
}

.footer .social__item {
    display: inline-block;
    margin: 5px;
}

.footer__copyright {
    padding: 15px 0;
    background: #000000;
}

.footer__copyright p {
    margin-bottom: 0;
    color: #626262;
    font-size: 12px;
    font-weight: bold;
}


/*# sourceMappingURL=style.css.map */

#hotrotructuyen {
    width: 61px;
    height: 61px;
    position: fixed;
    /*right: 10px;*/
    left: 52px;
    top: auto;
    bottom: 11pt;
    display: inline;
    /*background: url(/Content/TheMetro/Images/themetro-hotline.jpg) no-repeat left center;
    background-color: #DCB327;*/
    z-index: 1001;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#hotrotructuyen p {
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 15px;
    text-align: right
}

.popup {
    color: #fa3c4c !important;
    font-weight: bold;
}

.popup a,
.popup a:hover,
.popup a:visited {
    color: #000;
}

.popup a {
    font-size: 15px;
    font-weight: bold;
    line-height: 2em;
}

.phone-ring {
    position: fixed;
    background-color: transparent;
    width: 61px;
    height: 61px;
    cursor: pointer;
    z-index: 9999999999;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    /*right: -20px;
    top: 70px;*/
    bottom: 48pt;
    left: 0;
    display: block;
}

.phone-ring .circle-lv1 {
    width: 60px;
    height: 60px;
    top: 46px;
    left: 48px;
    position: absolute;
    background-color: transparent;
    border-radius: 100% !important;
    border: 2px solid rgba(0, 255, 63, 1);
    border: 2px solid rgba(0, 255, 63, 1);
    opacity: .1;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.phone-ring .circle-lv2 {
    width: 60px;
    height: 60px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: rgba(0, 255, 63, 1);
    border-radius: 100% !important;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    /*animation-iteration-count: infinite;*/
}

.phone-ring .icon-phone {
    width: 50px;
    height: 50px;
    top: 54px;
    left: 54px;
    position: absolute;
    background: rgba(0, 255, 63, 1);
    border-radius: 100% !important;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.phone-ring .icon-phone i {
    color: #ffffff;
    /*animation-name: change-color;
    animation-duration: 4s;*/
    /*animation-iteration-count: infinite;*/
    font-size: 30px;
    padding: 8px 8px 0 0;
}

@-webkit-keyframes change-backgound {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes change-color {
    0% {
        color: white;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@media (min-width: 991px) {
    .has-sub .sub-nav li a {
        white-space: nowrap;
    }
    .header__main .menu--desktop .nav-item .nav--child ul {
        position: relative;
    }
    .header__main .menu--desktop .nav-item .nav--child ul .has-sub .sub-nav {
        position: absolute;
        left: 100%;
        top: 0;
        background: #f6f3f4;
        z-index: 999;
        min-width: 200px;
        padding-left: 0;
        padding-right: 0;
        display: none;
    }
    .header__main .menu--desktop .nav-item .nav--child ul .has-sub a {
        display: block;
        position: relative;
    }
    .header__main .menu--desktop .nav-item .nav--child ul .has-sub>a:after {
        position: absolute;
        right: 0;
        top: 50%;
        content: "\f061";
        font-family: 'Line Awesome Free';
        margin-top: -7px;
        font-weight: bold;
    }
    .header__main .menu--desktop .nav-item .nav--child ul li:hover {
        background: #eee;
    }
    .header__main .menu--desktop .nav-item .nav--child ul li li:hover {
        background: #e6e6e6;
    }
    .header__main .menu--desktop .nav-item .nav--child ul li:hover>ul {
        background: #eee!important;
    }
    .header__main .menu--desktop .nav-item .nav--child ul li li:hover>ul {
        background: #e6e6e6!important;
    }
    .header__main .menu--desktop .nav-item .nav--child ul li:hover>a {
        color: #db7227;
    }
    .header__main .menu--desktop .nav-item .nav--child ul li:hover>.sub-nav {
        display: block;
    }
}
@media (max-width: 767px) {
.banner img { min-height:0;}
.overflow { overflow: hidden; width: 100%;}
}